# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/.vscode
# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Customer Account Profile Page Requirements.md
jumia-clone-development-plan.md
.vs/jumia_clone_ui/v17/DocumentLayout.json
Database Schema/Database Full data.sql
Database Schema/Database Schema.csv
Page Screenshots/Mobile_View_Screenshot1.jpeg
Page Screenshots/Mobile_View_Screenshot2.jpeg
Page Screenshots/Model Design_Screenshot1.png
Page Screenshots/Model Design_Screenshot2.png
Page Screenshots/Project_Current_Design1.png
Page Screenshots/Project_Current_Design2.png
Page Screenshots/Project_Current_Design3.png
Page Screenshots/Project_Current_Design4.png
