<div  class="product-card">
  <img [src]="product.MainImageUrl" alt="{{ product.Name }}" class="product-image">
  
  <div class="product-info">
    <h3>{{ product.Name }}</h3>
    <p class="product-price">${{ product.BasePrice | number }}</p>
    <p *ngIf="product.DiscountPercentage > 0" class="product-discount">
      <span>{{ product.DiscountPercentage }}% off</span>
    </p>
    <a [routerLink]="['/products', product.ProductId]" class="product-details-link">
      View Details
    </a>
  </div>
</div>
